.login{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.loginText{
  margin-left: 30%;
}
.newUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.newUserText{
  margin-left: 30%;
}
.updateUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.updateUserText{
  margin-left: 30%;
}
