<div class="container">
  <h1 class="commentUpdateInputText">Edit Comments</h1>

  <%= form_for @comment, url: update_comment_path(@comment.post, @comment) do |f| %>

  <div>
    <%= f.text_area :content, {placeholder: "Comments", class: "form-control commentInputUpdate"} %>
  </div>

  <%= f.submit class: "btn btn-success commentInputUpdateButton"%>
  <% end %>

</div>
