/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_home.css
 *= require_loginNew.css
 *= require_profile.css
 *= require_cities.css

 */


.alert.advertisement {
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
  background-color: rgb(233, 250, 237);
  color: #375A7F;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ad-close {
  color: #375A7F;
}

.ad-close:hover {
  color: blue;
}
.city{
  margin: 0 34%;
}
.cityPic{
  width: 400px;
  height: 250px;
  margin-bottom: 10px;
  border: 2px dashed grey;
  border-radius: 20px;
}
.cityProfile{
  position: static;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 5px 5px #3a3a3a;
}
.name{
  margin-left: 10px;
}
.cityName{
  font-size: 40px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -69px;
  margin-left: 2px;
  width: 396px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.body2{
  /*padding-top: 21px;*/
}
.welcome{
  position: relative;;
  margin-top: 10px;
  margin-left: 10px;
}
.welcomeCity{
  font-size: 3em;
  font-family: 'Marck Script', cursive;
  margin-left: 50px;
}


#map {
  height: 100%;
}
#map-container {
  height:400px;
  width:80%;
  margin: 0 auto;
}

.img-responsive{
  float: left;
  width: 50px;
  height: auto;
  margin: 45px 40px 20px 0;
}

.img-responsive2{
  display: block;
  max-width: 100%;
  height: auto;
}
.userAvatar {
  float: left;
  margin-bottom: 15px;
}
.newPost{
  float: right;
  margin-bottom: 0px;
  position: relative;
  top: 51%;
  right: 2%;
  text-shadow: none;
}
.postInput{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.postInput.content{
  height: 100px;
}
.postInputText{
  margin-left: 30%;
}
.dateCreated{
  margin-left: 89px;
}
.postUpdateInput{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}

.postUpdateInputText{
  margin-left: 30%;
}
.postUpdateInput.content{
  height: 100px;
}
.commentInput{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.commentInput.content{
  height: 100px;
}
.commentInputButton{
  margin-left: 30%;
}
.commentInputText{
  margin-left: 31%;
}
.commentInputUpdate{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.commentUpdateInputText{
  margin-left: 30%;
}
.commentInputUpdateButton{
  margin-left: 30%;
}
.logo{
  width: 50px;
  height: 50px;
  margin-top: -15px;
}
.splashWelcome{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-shadow: 2px 2px #3a3a3a;
}
.fixed {
  position:fixed;
  z-index:999;
  width: 100%;
}
.yield{
  display: block;
  width: 100%;
  margin: auto;
}
#myCarousel{
  height: 450px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
      height: 450px;
      margin: auto;
  }
.advert{
  position: relative;;
  bottom: 90%;
}
.login{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.loginText{
  margin-left: 30%;
}
.newUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.newUserText{
  margin-left: 30%;
}
.updateUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.updateUserText{
  margin-left: 30%;
}
.renderProfilePicture{
  margin-left: 75%;
  margin-top: -345px;
}
.samplePic {
  width: 125px;
  height: auto;
}
.samplePicText{
  margin-left: 34px;
}
.makeComment.input{
  display: block;
  width: 40%;
  height: 100px;
  margin: auto;
  margin-bottom: 5px;
}
.makeCommentText{
  margin-left: 30%;
}
.profile{
  display: block;
  width: 60%;
  margin: auto;
}
.welcomeProfile{
  font-size: 45px;
}
.profilePic{
  display: inline;
  width: 150px;
  margin-right: 20px;
}
.name{
  position: absolute;;
  display: inline-block;
  font-size: 30px;
}
.location{
  font-size: 20px;
}
small{
  font-size: 20px;
}
.user{
  padding-bottom: 15px;
}
.alert{
  width: 400px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.link{
  margin: 10px;
}
.commentsList{
  margin: 10px 30px 0 30px;
}
.tinyImg{
  height: 30px;
  margin: 30px 10px 10px 0;
}
