<div class="newPostPage">

  <h1 class="postInputText">Create a new Post</h1>

    <%= form_for @post, url: create_city_post_path(@city.name.gsub(/" "/, "%20")) do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "Title", class: "form-control postInput" %>
    </div>
    <div>
      <%= f.text_area :content, placeholder: "Thoughts", class: "form-control postInput content" %>
    </div>
    <%= f.submit class: "btn btn-success postInputText"%>
    <% end %>

</div>
