<div class="citiesList">
  <% @city.each do |t|%>
  <div class="city">
    <%= image_tag (t.photo), class: "cityPic"%>
    <p class="name"><%=link_to "#{t.name}", cities_path(t)%></br><small><%= t.lat%><%= t.lon%></small></p>

  </div>
  <%end%>
</div>
