/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_home.css
 *= require_loginNew.css
 *= require_profile.css
 *= require_cities.css
 *= require_tree .
 */

.alert.advertisement {
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
  background-color: rgb(233, 250, 237);
  color: #375A7F;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ad-close {
  color: #375A7F;
}

.ad-close:hover {
  color: blue;
}
