.cityPic{
  width: 400px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px dashed grey;
  border-radius: 20px;
}
.cityProfile{
  position: static;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  margin: auto;
  margin-bottom: 20px;
  text-shadow: 3px 2px #3a3a3a;
}
.body2{
  /*padding-top: 21px;*/
}
.welcome{
  position: relative;;
  margin-top: 0px;
}
.img-responsive{
  float: left;
  width: 50px;
  height: 50px;
  margin: 45px 40px 20px 0;
}

.img-responsive2{
display: block;
max-width: 100%;
height: auto;
}
.userAvatar {
  float: left;
  margin-bottom: 15px;
}
