.logo{
  width: 50px;
  height: 50px;
  margin-top: -15px;
}
.splashWelcome{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-shadow: 2px 2px #3a3a3a;
}
.fixed {
  position:fixed;
  z-index:999;
  width: 100%;
}
.yield{
  display: block;
  width: 100%;
  margin: auto;
}
#myCarousel{
  height: 450px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: auto;
      height: 450px;
      margin: auto;
  }
.advert{
  position: relative;;
  bottom: 90%;
}
