.login{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.loginText{
  margin-left: 30%;
}
.newUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
  margin-left: 30%;
}
.newUserText{
  margin-left: 30%;
}
.newUser label{
  margin-left: 5px;
}
.updateUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
  margin-left: 30%;
}
.updateUserText{
  margin-left: 30%;
}
.updateUser label {
  margin-left: 5px;
}
.renderProfilePicture{
  margin-left: 75%;
  margin-top: -345px;
}
.samplePic {
  width: 125px;
  height: auto;
}
.samplePicText{
  margin-left: 34px;
}
.makeComment.input{
  display: block;
  width: 40%;
  height: 100px;
  margin: auto;
  margin-bottom: 5px;
}
.makeCommentText{
  margin-left: 30%;
}
