.login{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.loginText{
  margin-left: 30%;
}
.newUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.newUserText{
  margin-left: 30%;
}
.updateUser{
  display: block;
  width: 40%;
  margin: auto;
  margin-bottom: 5px;
}
.updateUserText{
  margin-left: 30%;
}
.samplePic {
  width: 125px;
  height: auto;
  margin-left: 70%;
  margin-top: -35%;
  position: absolute;
}
.samplePicText{
  margin-left: 74%;
  margin-top: -19%;
  position: absolute;
}
