.profile{
  display: block;
  width: 60%;
  margin: auto;
}
.welcomeProfile{
  font-size: 45px;
}
.profilePic{
  display: inline;
  width: 150px;
  margin-right: 20px;
}
.name{
  position: absolute;;
  display: inline-block;
  font-size: 30px;
}
.location{
  font-size: 20px;
}
small{
  font-size: 20px;
}
.user{
  padding-bottom: 15px;
}
.alert{
  width: 400px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}
